@model MeetingManagement.ViewModel.RoomViewModel
@{
    ViewData["Title"] = @ViewData["Title"];
    Layout = "_LayoutAdmin";
    SelectList Building = new SelectList(ViewBag.Building, "Building_ID", "Name");
}
<link href="~/adminDashboard/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/css/bootstrap-select.css" rel="stylesheet">
<h1> @localizer["Create Conference Room"] </h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddRoom" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"> @localizer["Conference Room Name"] </label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoFile" class="control-label"> @localizer["Conference Room Photo"] </label>
                <input type="file" asp-for="PhotoFile" class="form-control" />
                <span asp-validation-for="PhotoFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"> @localizer["Capacity"] </label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Building" class="control-label"> @localizer["Building Name"] </label>
                <select asp-for="Building_ID" class="form-control" asp-items="Building"></select>
            </div>
            <div class="form-group">
                <label class="control-label"> @localizer["Additional Services"] </label><br />
                <select class="selectpicker" multiple data-live-search="true" name="Additions">
                    @foreach (var item in ViewBag.Additions)
                    {
                        <option value="@item.Additions_ID">@item.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary"> @localizer["Create"] </button>
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="getRoom"> @localizer["Back"] </a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
     }
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/js/bootstrap-select.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>